.sidebar{
    background-color: $primary;
    min-height: 100vh;
    min-width: 300px;
    position: relative;
    

    .top-banner{
        width: 100%;
        height: 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;
        background-color: $primary;
        border-bottom: 0.1px rgb(87, 85, 85) solid;

        .logo{
            color:  $text-color-light;
            font-weight: 500;
            font-size: large;
            padding-left: 1rem;
        }
        .toggle-btn{
            font-size: large;
            padding-right: 1rem;
        }
    }
    .dashboard-links{
        width: 100%;

        .links{
           

            .link{
                list-style: none;
                color: $text-color;
                font-size: $normal-text;
                position: relative;
                
                

                .dropdown-header{
                    padding: 1rem;
                    .dropdown-title{
                        padding-left: 1rem;
                    }
                    .direction-arrow{
                        position: absolute;
                        right: 1rem;
                    }
                }
                
                .dropdown{
                    list-style: none;
                    padding: 0;
                    width: 100%;
                    padding: 0.3rem 0 0.3rem 4rem;
                    display: none;
                    transition: display 5ms ease;
                    
                    
                    .dropdown-content{
                        padding:0.2rem 0;
                        color: $text-color;
                        display: flex;
                        gap: 20px;
                        cursor: pointer;
                        transition: all 0.2s ease-in-out;
                        
                        &::before{
                            content: '>';
                        }

                        &:hover{
                            color: $primary
                        }
                    }
                }
                .dropdown.active{
                    display: block;
                }
            }
            
        }
    }
}