//project colors
$primary: #1e293b;
$secondary: #334155;

//text colors
$title-color: #19181b;
$text-color: #a09fa1;
$text-color-light: #ded7ee;
$text-color-dim:rgb(172, 172, 172);

//font sizes
$normal-text: .938rem;
$small-text: .75rem;
$smaller-text: .65rem;

// font weights
$medium: 500;
$semi-bold: 600;
