<div class="sidebar">
    <!-- Top Bannner -->
    <div class="top-banner">
        <span class="logo">VtecUg</span>
        <span class="toggle-btn">👌</span>
    </div>
    <!-- Dashboard list -->
    <%- include('./dashboard-links')%>
</div>